body{
    background-color: #628484;
    font-size: larger;
    padding: 0%;
    margin: 0%;
    margin: 0%;

}

header{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    padding-left: 10%;
}

.sidenav{
    width: 15%;
    background-color: #364949;
    display: inline;
    align-self: left;
    margin-top: 0%;
    border-top: 0%;
    font-size: normal;
    height: 100%;
    padding-left: 5%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10%;

}


.sidenav > h1{
    color: white;

}

section{
    display:inline;
    align-self: left;
    height: 100%;
    margin-left: 15%;
}