body{
    background-color: #4da6ff;
    font-size: larger;
    padding: 0%;
    margin: 0%;
    margin: 0%;

}

header{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: black;

}

.main{
    display: block;
    margin: auto;
    color: white;
    width:70%;

}

.code{
    background-color: #00264d;
    color: white;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 15px;
    font-family: serif;

}